$lbsc-primary: #33cccc;
$lbsc-secondary: #00e65b;
$lbsc-tertiary: #ff00cc;
$lbsc-quartenary: red;
$lbsc-white: white;


/*
 ******************
 USAGE VARIABLES
 ******************
*/

// TEXT


// BACKGROUNDS
$lbsc-grey-background: #333;
$lbsc-blue-background: $lbsc-primary;
$lbsc-green-background: $lbsc-secondary;

// BORDERS


// STATUS
