.banner {
  background-color: $lbsc-background-grey;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  width: 100%;
  height: 60px;
}

.banner__image {
  flex-grow: 1;
  color: red;
  margin: 20px 0;

  img {
    max-width: 250px;
    height: 60px;
  }
}

.banner__navigation-container {
  overflow: hidden;
  margin: 20px 0;
}

.banner__navigation-container a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: $lbsc-navigation-borders;
  border-radius: $lbsc-navigation-border-radius;
  margin-left: $spacing-small;
  margin-right: $spacing-small;
}

.banner__navigation-container a:hover {
  background-color: #ddd;
  color: black;
}

.banner__navigation-container a.active {
  background-color: #4CAF50;
  color: white;
}

.banner__navigation-container .icon {
  display: none;
}