.banner {
  background-color: $lbsc-background-grey;
  display: flex;
  align-items: center;
  width: 100%;
}

.banner__image {
  flex-grow: 1;
  color: red;
  padding: 10px 0;
  background-color: #333;

  img {
    max-width: 250px;
    height: 60px;
  }
}

