.footer__container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $lbsc-background-grey;
}

.footer__image {
  max-width: 400px;
  height: 100px;
}

.footer__navigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer__navigation ul {
  list-style-type: none;
  padding: 0;
}

.footer__navigation a {
  display: block;
  color: #f2f2f2;
  text-align: left;
  text-decoration: none;
}

.banner__navigation-container a:hover {
  background-color: #ddd;
  color: black;
}

.banner__navigation-container a.active {
  background-color: #4CAF50;
  color: white;
}

.footer__navigation-item {
  flex-grow: 1;
  color: #f2f2f2;
}

.footer__social-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__copyright {
  margin-top: 20px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}