 .sidebar-col {
  flex-grow: 0;
  flex-shrink: 0;
  order: 2;
  width: 100%;
  margin-right: 100px;
}

.two-cols-container .content-col {
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: auto;
  padding-right: 1rem;
}

.lbsc__form-container {
  margin: 0 auto;
  max-width: 1250px;
  width: 96%;
}

.lbsc__form input:not([type='radio']),
  select {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.lbsc__form input[type=text],
  input[type=email],
  input[type=number],
  select {
  height: 30px;
}

.lbsc__form input,
  select,
  textarea {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }

.lbsc__form textarea {
  width:100%;
}

.lbsc__form label {
  font-size: 18px;
}

.lbsc__form-section {
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
  width: 100%;
}

.lbsc__section {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
  padding: $spacing-small 0 $spacing-small 0;
}

.lbsc__section-content {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}

.lbsc__form-info-box {
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
  padding: $spacing-small;
}

.lbsc__form-questions {
  padding: 0 $spacing-medium 0 $spacing-medium;
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}

 .checkbox-container input[type="checkbox"] {
   display:inline-block;
   width: auto !important;
 }

 .checkbox-container label {
   display:inline;
 }

@media only screen and (min-width: 720px) {
  .two-cols-container .content-col {
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: auto;
    padding-right: 5rem;
  }

  .two-cols-container {
    display: flex;
  }

  .sidebar-col {
    flex-grow: 0;
    flex-shrink: 0;
    order: 1;
    width: 250px;
    margin-right: 100px;
  }

  .two-cols-container {
    display: flex;
  }

  .lbsc__form-info-box {
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
    width: 250px;
    padding: $spacing-small;
  }

  .lbsc__section {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
    padding: $spacing-small $spacing-small $spacing-small 0;
  }

  .lbsc__section-content {
    padding: 0 $spacing-medium 0 0;
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }

  .lbsc__form-container {
    margin: 0 auto;
    max-width: 1250px;
    padding: 0 2%;
    width: 96%;
  }
}
